/* Colors */
:root {
    --purple: #9C36B5;
    --teal: #84D4D4;
    --tan: #FBCBBB;
    --accent: #D7A7C9;
}

/* ---------------------------------------- */

/* ABOUT */
.about {
    outline: red dashed 3px;
    height: 100vh;
}

