/* Colors */
:root {
    --purple: #9C36B5;
    --teal: #84D4D4;
    --tan: #FBCBBB;
    --accent: #D7A7C9;
}

/* ---------------------------------------- */

/* BANNER */
.banner {
    /* outline: red dashed 3px; */
    background-color: var(--teal);
    color: var(--purple);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    width: 100%;
    padding: 10px;
}

.banner img {
    width: auto;
    height: 10px;
}

.scroll {
    /* outline: red dashed 3px; */
    white-space: nowrap;
    width: 24ch;
    text-shadow: 45ch 0 currentColor, 90ch 0 currentColor, 135ch 0 currentColor, 180ch 0 currentColor, 225ch 0 currentColor, 270ch 0 currentColor, 315ch 0 currentColor;
    will-change: transform;
    animation: marquee 10s linear infinite;
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }