/* Colors */
:root {
  --purple: #6E3F61;
  --teal: #84D4D4;
  --tan: #FBCBBB;
  --accent: #D7A7C9;
}

/* Fonts */
@font-face {
  font-family: main;
  src: url('../fonts/Birbaslo.ttf');
}

@font-face {
  font-family: advent;
  src: url('../fonts/AdventPro.ttf');
}

@font-face {
  font-family: regular;
  src: url('../fonts/Regular.ttf');
}

@font-face {
  font-family: roboto;
  src: url('../fonts/Roboto.ttf');
}

/* -------------------------------------------------------------------------------- */

/* BANNER */
.banner {
    /* outline: blue dashed 3px; */
    background-color: var(--teal);
    color: var(--purple);
    font-family: advent;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    overflow: hidden;
    margin: 0;
}

.scroll {
    /* outline: red dashed 3px; */
    white-space: nowrap;
    width: 24ch;
    margin: 0;
    text-shadow: 48ch 0 currentColor, 96ch 0 currentColor, 144ch 0 currentColor, 192ch 0 currentColor;
    will-change: transform;
    animation: marquee 10s linear infinite;
  }
  
  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }