/* Colors */
:root {
    --purple: #6E3F61;
    --teal: #84D4D4;
    --tan: #FBCBBB;
    --accent: #D7A7C9;
}

/* Fonts */
@font-face {
    font-family: main;
    src: url('../fonts/Birbaslo.ttf');
}

@font-face {
    font-family: advent;
    src: url('../fonts/AdventPro.ttf');
}

@font-face {
    font-family: regular;
    src: url('../fonts/Regular.ttf');
}

@font-face {
    font-family: roboto;
    src: url('../fonts/Roboto.ttf');
}

/* -------------------------------------------------------------------------------- */

/* CONTACT */
.contact {
    /* outline: blue dashed 3px; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

/* ARTICLE */
.contact-message {
    /* outline: red dashed 3px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 30%;
    height: 50%;
}

/* TITLE */
.contact-message h2 {
    /* outline: blue dashed 3px; */
    font-family: roboto;
    font-size: 60px;
    color: var(--purple);
    margin: 0 0 50px 0;
    width: 100%;
}

/* MESSAGE */
.contact-message p {
    /* outline: red dashed 3px; */
    font-family: regular;
    font-size: 20px;
    line-height: 1.5;
    width: 100%;
    margin: 0;
}

/* FORM */
.form-container {
    /* outline: red dashed 3px; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 50%;
}