/* Colors */
:root {
    --purple: #9C36B5;
    --teal: #84D4D4;
    --tan: #FBCBBB;
    --accent: #D7A7C9;
}

/* ---------------------------------------- */

/* BACKGROUND */
.home {
    height: 100vh;
    background-image: url('../images/party.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: right;
    align-items: end;
}

/* BOX */
.box {
    width: 500px;
    height: 400px;
    background-color: white;
    margin: 0 10% 10% 0;
}

/* TEXT */
.promo {
    /* outline: red dashed 2px; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: bold;
    margin: 50px 20px 0 50px;
}

.message {
    /* outline: red dashed 2px; */
    margin: 50px 0 50px 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

/* BUTTON */
.home button {
    background-color: var(--purple);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    padding: 10px 30px 10px 30px;
    margin-left: 50px;
}