/* Colors */
:root {
    --purple: #6E3F61;
    --teal: #84D4D4;
    --tan: #FBCBBB;
    --accent: #D7A7C9;
}

/* Fonts */
@font-face {
    font-family: main;
    src: url('../fonts/Birbaslo.ttf');
}

@font-face {
    font-family: advent;
    src: url('../fonts/AdventPro.ttf');
}

@font-face {
    font-family: regular;
    src: url('../fonts/Regular.ttf');
}

@font-face {
    font-family: roboto;
    src: url('../fonts/Roboto.ttf');
}

/* -------------------------------------------------------------------------------- */

/* BACKGROUND */
.home {
    height: 100vh;
    background-image: url('../images/party.jpeg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    justify-content: right;
    align-items: end;
    margin: 0;
}

/* BOX */
.box {
    width: 500px;
    height: 400px;
    background-color: white;
    margin: 0 10% 10% 0;
}

/* TEXT */
.promo {
    /* outline: red dashed 2px; */
    font-family: roboto;
    font-size: 40px;
    font-weight: bold;
    margin: 50px 20px 0 50px;
}

.message {
    /* outline: red dashed 2px; */
    margin: 25px 0 25px 50px;
    font-family: regular;
    font-size: 15px;
    line-height: 1.5;
}

.address {
    text-decoration: none;
    color: black;
}

/* BUTTON */
.home button {
    background-color: var(--purple);
    color: white;
    font-family: regular;
    border: none;
    padding: 10px 30px 10px 30px;
    margin-left: 50px;
}

button a {
    text-decoration: none;
    color: white;
}

button:hover {
    background-color: var(--accent);
}

/* -------------------------------------------------------------------------------- */

/* MEDIA QUERIES */
@media screen and (max-width: 500px) {

    /* BACKGROUND */
    .home {
        outline: red dashed 2px;
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* BOX */
    .box {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: start;
        width: 90%;
        height: auto;
        margin: 0 0 10% 0;
    }

    /* TEXT & BUTTON */

    /* TEXT */
    .promo {
        font-size: 30px;
    }

    .promo,
    .message,
    .home button {
        margin: 20px;
    }

}