/* Colors */
:root {
    --purple: #6E3F61;
    --teal: #84D4D4;
    --tan: #FBCBBB;
    --accent: #D7A7C9;
}

/* Fonts */
@font-face {
    font-family: main;
    src: url('../fonts/Birbaslo.ttf');
}

@font-face {
    font-family: advent;
    src: url('../fonts/AdventPro.ttf');
}

@font-face {
    font-family: regular;
    src: url('../fonts/Regular.ttf');
}

@font-face {
    font-family: roboto;
    src: url('../fonts/Roboto.ttf');
}

/* -------------------------------------------------------------------------------- */

/* BACKGROUND */
.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--tan);
}

/* TITLE */
h3 {
    /* outline: blue dashed 3px; */
    font-family: roboto;
    font-size: 70px;
    text-align: center;
    color: var(--purple);
    margin: 10px 0 75px 0;
    padding-top: 75px;
}

/* GRID */
.menu-grid {
    /* outline: green dashed 3px; */
    display: grid;
    grid-template-columns: auto auto auto;
    width: 75%;
    margin-bottom: 75px;
}

.menu-item {
    /* outline: red dashed 3px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    height: 400px;
    margin: 25px 10px 25px 10px;
}

/* IMAGE */
.menu-image {
    /* outline: blue dashed 3px; */
    background-color: var(--teal);
    display: flex;
    justify-content: center;
    align-items: center;
    border: var(--teal) solid 10px;
    height: 300px;
    width: 300px;
}

.menu-image img {
    width: 300px;
}

.menu-image:hover .image {
    display: none;
}

/* DESCRIPTION */
.menu-image p {
    /* outline: red dashed 3px; */
    font-family: regular;
    font-size: 20px;
    text-align: center;
    margin: 0 20px 0 20px;
    display: none;
}

.menu-image:hover .description {
    display: block;
}

.menu-info {
    /* outline: blue dashed 3px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0 0 0;
}

/* NAME */
.menu-info h4 {
    font-family: advent;
    font-size: 25px;
    color: var(--purple);
    margin: 0;
}

/* PRICING */
.menu-info p {
    /* outline: red dashed 2px; */
    font-family: regular;
    font-size: 18px;
    background-color: var(--accent);
    color: var(--purple);
    border: var(--purple) solid 3px;
    text-align: center;
    padding: 5px 15px 5px 15px;
    width: 125px;
    margin: 10px 0 0 0;
}