/* Colors */
:root {
    --purple: #6E3F61;
    --teal: #84D4D4;
    --tan: #FBCBBB;
    --accent: #D7A7C9;
}

/* Fonts */
@font-face {
    font-family: main;
    src: url('../fonts/Birbaslo.ttf');
}

@font-face {
    font-family: advent;
    src: url('../fonts/AdventPro.ttf');
}

@font-face {
    font-family: regular;
    src: url('../fonts/Regular.ttf');
}

@font-face {
    font-family: roboto;
    src: url('../fonts/Roboto.ttf');
}

/* -------------------------------------------------------------------------------- */

/* ALIGNMENT */
nav {
    /* border: dotted red 2px; */
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 3px 10px rgba(128, 128, 128, 0.174);
    width: 100%;
    height: 100px;
    background-color: white;
    z-index: 500;
}

/* BRANDING */
.logo a {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 0 10px 50px;
}

.logo a:hover {
    cursor: pointer;
}

.logo h1 {
    font-family: main;
    font-size: 25px;
    text-align: left;
    margin: 0;
    color: var(--purple);
}

.logo div p {
    font-family: advent;
    color: var(--teal);
    margin: 0;
}

.logo img {
    width: auto;
    height: 75px;
    margin-right: 15px;
}

/* NAVIGATION */
.links {
    /* outline: red dashed 2px; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
}

.links a {
    font-family: advent;
    font-size: 25px;
    text-decoration: none;
    color: var(--purple);
}

.links a:hover {
    border-bottom: var(--purple) solid 1px;
    cursor: pointer;
}