/* Colors */
:root {
    --purple: #6E3F61;
    --teal: #84D4D4;
    --tan: #FBCBBB;
    --accent: #D7A7C9;
}

/* Fonts */
@font-face {
    font-family: main;
    src: url('../fonts/Birbaslo.ttf');
}

@font-face {
    font-family: advent;
    src: url('../fonts/AdventPro.ttf');
}

@font-face {
    font-family: regular;
    src: url('../fonts/Regular.ttf');
}

@font-face {
    font-family: roboto;
    src: url('../fonts/Roboto.ttf');
}

/* -------------------------------------------------------------------------------- */

